.banner{
  width           : 100%;
  border          : 1px solid grey;
  border-radius   : 10rem;
  background-color: lightgray;
  text-align      : center;
  margin          : 5% 0;
}
.container {
  margin: 5%;
}
